.PhotoColumn {
  /* border: solid 5px green; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.PhotoColumn > img {
  max-width: 100%;
  height: auto;
  /* border: solid 5px red; */
}
