.SidebarButton {
  align-content: center;
  padding: 5px;
  padding-bottom: 15px;
  max-width: 80%;
}

button {
  border: none;
  background-color: white;
  color: black;
  font-size: 24pt;
  text-align: left;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.currentPage {
  color: #9c9b9b;
}
