.GearItem {
  display: flex;
  padding: 30px;
  font-family: "NunitoSans";
}

.GearItem > img {
  max-width: 50%;
  padding-left: 40px;
  padding-right: 40px;
  object-fit: contain;
}

.GearItem > div > h1 {
  padding-top: 35px;
  font-size: 30pt;
  font-weight: 800;
}

.GearItem > div > p {
  font-size: 18pt;
  font-weight: 500;
}
