.flexContainer {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.flexContainer > img {
  margin: 0px 20px;
  user-select: none;
  max-width: 85%;
  max-height: 90%;
}

.arrow {
  height: 10%;
  width: 7%;
  position: absolute;
}

.arrowActive:hover {
  cursor: pointer;
}

.arrowInactive {
  color: rgb(99, 99, 99);
}

.leftArrow {
  left: 0;
}

.rightArrow {
  right: 0;
}

.exit {
  width: 65px;
  height: 65px;
  margin: 5px;
  position: absolute;
  right: 0;
}

.exit:hover {
  cursor: pointer;
}
