.ContactInfo {
  margin-top: 5px;
  margin-left: 5px;
}

a {
  color: black;
  padding: 5px;
  font-size: 24px;
}

.darkMode {
  color: white;
}

.ContactInfo:hover > a {
  color: gray;
}

a:hover {
  color: black !important;
}

a.darkMode:hover {
  color: white !important;
}
