.PhotoSection {
  margin: 5px;
  margin-top: 15px;
  padding-right: 10px;
  display: grid;
  column-gap: 20px;
}

@media (max-width: 900px) {
  .PhotoSection {
    grid-template-areas: "col";
  }
}

@media (min-width: 901px) {
  .PhotoSection {
    grid-template-areas: "col1 col2";
  }
}
